@charset "UTF-8";
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@400;500;700;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
/* 공통 */
html {
  font-size: 16px;
}

body {
  touch-action: pan-y;
}

button {
  background: transparent;
}

.ts-03s {
  transition: all 0.3s ease;
}

.blind {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
}

/* skip-nav */
.skip-nav a {
  position: absolute;
  top: -50px;
  left: 0;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 3.125rem;
  text-align: center;
  z-index: 9;
}

.skip-nav a:focus {
  top: 0;
}

/* header */
.header .logo {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 999;
  transition: all 0.3s ease;
}

.header .text {
  position: fixed;
  bottom: 30px;
  left: 15px;
  z-index: 999;
  color: #fff;
  font-size: 0.6875rem;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: left bottom;
  font-weight: 700;
  transition: color 0.3s ease;
}

.header .text.black {
  color: #000;
}

.header .menu-btn {
  position: fixed;
  top: 39px;
  right: 80px;
  z-index: 990;
  color: #fff;
  font-size: 20px;
  line-height: 1.375rem;
  font-weight: 700;
  vertical-align: middle;
  font-family: "Alexandria", sans-serif;
  transition: all 0.3s ease;
}

.header .menu-btn .icon img {
  transition: all 0.3s ease;
}

.header .menu-btn .icon:nth-child(2) {
  opacity: 0;
}

.header .menu-btn.black {
  color: #000;
}

.header .menu-btn.black img:nth-child(1) {
  opacity: 0;
}

.header .menu-btn.black img:nth-child(2) {
  opacity: 1;
}

.header .icon {
  display: inline-block;
  margin-left: 1.25rem;
  position: relative;
  width: auto;
  height: 1.375rem;
  vertical-align: bottom;
  font-size: 0;
}

.header .icon img {
  position: absolute;
  top: 0;
  left: 0;
}

.header .icon img:nth-child(1) {
  opacity: 1;
}

.header .icon img:nth-child(2) {
  opacity: 0;
}

.header .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 37.5rem;
  height: 100vh;
  z-index: 999;
  background: #000;
  transform: translateX(100%);
  visibility: hidden;
}

.header .menu.show {
  transform: translateX(0%);
  visibility: visible;
}

.header .menu button {
  position: absolute;
  top: 39px;
  right: 80px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: "Alexandria", sans-serif;
}

.header .menu ul {
  margin: 11rem 0 0 4rem;
  font-weight: 700;
  font-size: 2.25rem;
  font-family: "Alexandria", sans-serif;
}

.header .menu li {
  margin-bottom: 2.7rem;
  overflow: hidden;
}

.header .menu .block {
  display: inline-block;
  transform: translateY(100%);
}

.header .menu.show li:nth-child(1) .block {
  transition: transform 0.5s 1s ease;
}

.header .menu.show li:nth-child(2) .block {
  transition: transform 0.5s 0.8s ease;
}

.header .menu.show li:nth-child(3) .block {
  transition: transform 0.5s 0.6s ease;
}

.header .menu.show li:nth-child(4) .block {
  transition: transform 0.5s 0.4s ease;
}

.header .menu.show li:nth-child(5) .block {
  transition: transform 0.5s 0.2s ease;
}

.header .menu.show .block {
  transform: translateY(0%);
}

.header .menu li:hover::after {
  opacity: 1;
  -webkit-animation-name: moveLi;
  animation-name: moveLi;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes moveLi {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes moveLi {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0%);
  }
}
.header .menu li::after {
  content: "";
  display: inline-block;
  width: 1.375rem;
  height: 1.375rem;
  background-image: url("../img/icon_arrow_right.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease;
  opacity: 0;
}

.header .menu .case {
  font-size: 1.125rem;
  vertical-align: top;
}

.header .menu .case01 {
  color: #9AAFDE;
}

.header .menu .case02 {
  color: #00A75D;
}

.header .menu .case03 {
  color: #EB6D65;
}

.header .menu .menu-name {
  color: #fff;
}

.header .menu .case + .menu-name {
  margin-left: 10px;
}

.header .guide-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 990;
  font-size: 1.1875rem;
  background: #000;
  width: 20.625rem;
  height: 6rem;
  border-radius: 3rem;
  border: 1px solid #fff;
  transition: opacity 0.3s ease;
}

.header .guide-btn a {
  color: #fff;
}

.header .guide-btn:hover {
  background: #fff;
  border: 1px solid #000;
}

.header .guide-btn:hover a {
  color: #000;
}

.header .guide-btn:hover img {
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.header .guide-btn:hover img:last-child {
  opacity: 0;
}

@-webkit-keyframes move {
  0% {
    transform: translate(0%, -50%);
  }
  50% {
    transform: translate(30%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}
@keyframes move {
  0% {
    transform: translate(0%, -50%);
  }
  50% {
    transform: translate(30%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}
.header .guide-btn a {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex; /* ie 10 */
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 3rem;
  align-items: center;
  font-weight: 700;
}

.header .guide-btn a img {
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
}

/* video-wrap */
.video-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.video-wrap video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.video-wrap .texts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: min(8vw, 3.75rem);
  color: #fff;
  font-weight: 900;
  text-align: center;
}

.video-wrap .line {
  overflow: hidden;
}

.video-wrap .block {
  transition: transform 0.7s ease;
  transform: translateY(100%);
}

.video-wrap .block span {
  transition: all 1.2s ease;
}

.video-wrap .outline {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.video-wrap .scroll {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 700;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 30px;
  font-size: 1rem;
  font-family: "Alexandria", sans-serif;
}

/* cnt01 */
.cnt01-wrap {
  width: 100%;
  height: 500vh;
}

.pin-spacer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
}

.check-point {
  width: 100%;
  height: 100vh;
}

.cp-01 {
  margin-top: -50vh;
}

.cp-04 {
  height: 100vh;
}

.cnt01-wrap .container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.mask {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex; /* ie 10 */
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #fff;
  font-size: 6vw;
  line-height: 100%;
  font-weight: 900;
  mix-blend-mode: multiply;
  font-family: "Alexandria", sans-serif;
  transform: translate3d(0, 0, 0) scale(1, 1);
  z-index: 9;
}

.bg {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex; /* ie 10 */
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../img/mod_cnt01_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.bg .texts {
  color: #fff;
  font-size: 13vw;
  font-weight: 900;
  text-align: center;
  font-family: "Alexandria", sans-serif;
  text-shadow: -4px 0px #000, 0px 4px #000, 4px 0px #000, 0px -4px #000;
}

.bg .line {
  overflow: hidden;
}

.bg .block {
  transform: translateY(100%);
}

.bg .line:nth-child(1) .block {
  transition: transform 0.5s 0.2s ease;
}

.bg .line:nth-child(2) .block {
  transition: transform 0.5s 0.4s ease;
}

.bg.show .block {
  transform: translateY(0%);
}

/* cnt02 */
.cnt02-sub {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex; /* ie 10 */
  display: flex;
  width: 90%;
  max-width: 1440px;
  height: 1080px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.cnt02-wrap .container > img {
  width: 177px;
  height: auto;
}

.tag-wrap {
  height: auto;
}

.tag {
  border: 2px solid #000;
  border-radius: 20px;
  margin: 20px 0 0 5px;
  padding: 0.6875rem;
  font-weight: 700;
  font-size: 0.9375rem;
  display: inline-block;
}

.tag:nth-child(1) {
  margin-left: 0;
}

.cnt02-wrap .subtitle-wrap {
  width: 400px;
  margin-top: 30px;
}

.cnt02-wrap .subtitle-wrap .line {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex; /* ie 10 */
  display: flex;
  overflow: hidden;
}

.cnt02-01.show .block {
  transform: translateY(0%);
  opacity: 1;
}

.cnt02-02.show .block {
  transform: translateY(0%);
  opacity: 1;
}

.cnt02-03.show .block {
  transform: translateY(0%);
  opacity: 1;
}

.subtitle-wrap .block {
  font-size: 4.0625rem;
  font-weight: 900;
  padding-right: 15px;
  transform: translateY(100%);
  opacity: 0;
}

.subtitle-wrap .block01 {
  transition: transform 0.5s 0.2s ease;
}

.subtitle-wrap .block02 {
  transition: transform 0.5s 0.4s ease;
}

.subtitle-wrap .block03 {
  transition: transform 0.5s 0.6s ease;
}

.subtitle-wrap .block04 {
  transition: transform 0.5s 0.8s ease;
}

.cnt02-wrap .container {
  width: 100%;
  position: relative;
}

.cnt02-wrap .banner img {
  margin-top: 22px;
  width: 340px;
  height: auto;
}

.cnt02-wrap .des-text {
  margin-top: 90px;
  font-size: 1rem;
  font-weight: 700;
}

.cnt02-wrap .more-btn {
  margin-top: 40px;
  border: 2px solid #2757A4;
  display: inline-block;
  width: 330px;
  text-align: center;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.cnt02-wrap .more-btn:hover {
  border: 2px solid #000;
  background-color: #2757A4;
}

.cnt02-wrap .more-btn:hover a {
  color: #fff;
}

.cnt02-wrap .more-btn a {
  display: inline-block;
  width: 100%;
  color: #2757A4;
  font-size: 0.9375rem;
  line-height: 3.75rem;
  font-weight: 700;
}

.cnt02-sub:nth-child(2) .more-btn {
  border: 2px solid #00A75D;
}

.cnt02-sub:nth-child(2) .more-btn a {
  color: #00A75D;
}

.cnt02-sub:nth-child(2) .more-btn:hover {
  background-color: #00A75D;
  border: 2px solid #000;
}

.cnt02-sub:nth-child(2) .more-btn:hover a {
  color: #fff;
}

.cnt02-sub:nth-child(3) .more-btn {
  border: 2px solid #EB6D65;
}

.cnt02-sub:nth-child(3) .more-btn a {
  color: #EB6D65;
}

.cnt02-sub:nth-child(3) .more-btn:hover {
  background-color: #EB6D65;
  border: 2px solid #000;
}

.cnt02-sub:nth-child(3) .more-btn:hover a {
  color: #fff;
}

.cnt02-wrap .image-wrap {
  position: absolute;
  width: calc(100% - 400px);
  height: 100%;
  top: 0;
  right: 0;
}

.cnt02-wrap .image-wrap .item {
  height: auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.cnt02-wrap .cnt02-01 .item:nth-child(1) {
  top: 28%;
  right: 16%;
}

.cnt02-wrap .cnt02-01 .item:nth-child(2) {
  top: -10%;
  right: 16%;
}

.cnt02-wrap .cnt02-01 .item:nth-child(3) {
  top: 32%;
  right: 0%;
}

.cnt02-wrap .cnt02-02 .item:nth-child(1) {
  top: 0;
  right: 50%;
  z-index: 3;
}

.cnt02-wrap .cnt02-02 .item:nth-child(2) {
  top: 22%;
  right: 0%;
}

.cnt02-wrap .cnt02-03 .item:nth-child(1) {
  top: 40%;
  right: 40%;
  z-index: 3;
}

.cnt02-wrap .cnt02-03 .item:nth-child(2) {
  top: 0%;
  right: 0%;
}

.cnt02-wrap .image-wrap .item img {
  display: block;
  width: 100%;
}

.cnt02-sub.show .item img:nth-child(1) {
  transition: all 0.4s 0.6s ease;
}

.cnt02-sub.show .item img:nth-child(2) {
  transition: all 0.4s 0.8s ease;
}

.cnt02-sub.show .item img:nth-child(3) {
  transition: all 0.4s 1s ease;
}

.cnt02-sub.show .item img {
  opacity: 1;
}

.cnt02-wrap .image-wrap .block {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translateY(0%);
}

.cnt02-wrap .image-wrap .item:nth-child(1) .block {
  transition: all 0.4s 0.6s ease;
}

.cnt02-wrap .image-wrap .item:nth-child(2) .block {
  transition: all 0.4s 0.8s ease;
}

.cnt02-wrap .image-wrap .item:nth-child(3) .block {
  transition: all 0.4s 1s ease;
}

.cnt02-sub.show .item .block {
  transform: translateY(-100%);
}

.cnt02-01 .item .block {
  background: #2757A4;
}

.cnt02-02 .item .block {
  background: #00A75D;
}

.cnt02-03 .item .block {
  background: #EB6D65;
}

/* guide-wrap */
.guide-wrap {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex; /* ie 10 */
  display: flex;
  width: 90%;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.guide-wrap .line {
  overflow: hidden;
}

.guide-wrap .block {
  display: inline-block;
  font-size: 5.5rem;
  font-weight: 900;
  line-height: 5.5rem;
  padding-right: 20px;
  transform: translateY(100%);
}

.guide-wrap.show .block {
  transform: translateY(0%);
}

.guide-wrap.show .line span:nth-of-type(1) {
  transition: transform 0.3s 0.2s ease;
}

.guide-wrap.show .line span:nth-of-type(2) {
  transition: transform 0.3s 0.4s ease;
}

.guide-wrap.show .line span:nth-of-type(3) {
  transition: transform 0.3s 0.6s ease;
}

.guide-wrap.show .line:nth-child(2) span:nth-of-type(1) {
  transition: transform 0.3s 0.8s ease;
}

.guide-wrap.show .line:nth-child(2) span:nth-of-type(2) {
  transition: transform 0.3s 1s ease;
}

.guide-wrap .container {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex; /* ie 10 */
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.guide-wrap .des-text {
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 45px;
  letter-spacing: -0.08rem;
}

.guide-wrap .des-text strong {
  font-weight: 900;
}

.guide-wrap .form-wrap {
  margin-top: 100px;
}

.guide-wrap form {
  position: relative;
}

.guide-wrap input:not(.form-agree input) {
  padding: 10px 20px;
  border: 2px solid #fff;
  border-bottom: 2px solid #000;
  border-radius: 3px;
  line-height: 2.5rem;
  color: #000;
  transition: all 0.3s ease;
  width: 400px;
  margin-bottom: 20px;
  font-size: 0.875rem;
  font-weight: 700;
}

.guide-wrap input:not(.form-agree input):focus {
  border: 2px solid #2757A4;
}

.guide-wrap input:not(.form-agree input):valid {
  border: 2px solid #2757A4;
}

.guide-wrap input:not(.form-agree input):focus + label {
  color: #2757A4;
}

.guide-wrap input:not(.form-agree input):valid + label {
  color: #2757A4;
}

.guide-wrap label:not(.form-agree label) {
  position: absolute;
  left: 0px;
  line-height: 2.5rem;
  padding: 10px;
  color: #000;
  font-size: 1.125rem;
  font-weight: 700;
  transition: transform 0.3s ease;
}

.guide-wrap .form-name input:focus + label, .guide-wrap .form-name input:valid + label {
  transform: translate(20px, -20px);
  font-size: 0.9375rem;
  background-color: transparent;
  background-color: #fff;
  padding: 0 10px;
}

.guide-wrap .form-email input:focus + label, .guide-wrap .form-email input:valid + label {
  transform: translate(20px, -20px);
  font-size: 0.9375rem;
  background-color: transparent;
  background-color: #fff;
  padding: 0 10px;
}

.guide-wrap a {
  color: #000;
}

.guide-wrap .msg {
  font-size: 0.875rem;
}

.guide-wrap .msg a {
  vertical-align: baseline;
}

.guide-wrap .guide-btn {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  font-size: 0.9375rem;
  line-height: 3.5rem;
  border-radius: 1.875rem;
  margin-top: 30px;
}

.guide-wrap .guide-btn:hover {
  background-color: #fff;
}

.guide-wrap .guide-btn a {
  color: #fff;
  width: 100%;
  display: inline-block;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 30px;
}

.guide-wrap .guide-btn:hover a {
  background-color: #fff;
  color: #000;
}

.guide-wrap .consult-box {
  margin-top: 60px;
  border-top: 2px solid #000;
  font-size: 0.875rem;
  font-weight: 700;
}

.guide-wrap .consult-box:hover a {
  background-color: #000;
  color: #fff;
}

.guide-wrap .consult-box:hover .left::after {
  background: #fff;
}

.guide-wrap .consult-box:hover .right img:nth-child(1) {
  opacity: 0;
}

.guide-wrap .consult-box:hover .right img:nth-child(2) {
  opacity: 1;
}

.guide-wrap .consult-box a {
  display: inline-block;
  width: 100%;
  line-height: 5rem;
  transition: all 0.3s ease;
}

.guide-wrap .consult-box .left {
  position: relative;
  padding: 0 85px 0 20px;
}

.guide-wrap .consult-box .left::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 76px;
  height: 3px;
  background: #000;
  transition: all 0.3s ease;
}

.guide-wrap .consult-box .right {
  position: relative;
  padding: 0 30px 0 15px;
}

.guide-wrap .consult-box .right img {
  position: absolute;
  top: 55%;
  right: 0;
  transform: translate(-50%, -50%);
}

.guide-wrap .consult-box .right img:nth-child(2) {
  opacity: 0;
  transition: all 0.3s ease;
}

.guide-wrap .container > .right {
  position: relative;
  margin-top: 135px;
  height: 444px;
}

.guide-wrap .right .slide-wrap {
  position: relative;
  width: 800px;
  height: 444px;
  overflow: hidden;
  border: 2px solid #000;
}

.guide-wrap .slide-wrap .item-wrap {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex; /* ie 10 */
  display: flex;
  position: absolute;
  width: 300%;
  justify-content: flex-start;
}

.guide-wrap .slide-wrap .item-wrap.animated {
  transition: all 0.4s ease;
}

.guide-wrap .slide-wrap .item {
  width: 100%;
}

.guide-wrap .slide-wrap img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.guide-wrap .slide-wrap .btns button {
  width: 50px;
  height: 50px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.guide-wrap .slide-wrap .btns button:nth-child(1) {
  left: -50px;
}

.guide-wrap .slide-wrap .btns button:nth-child(2) {
  right: -50px;
}

.guide-wrap .slide-dot {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex; /* ie 10 */
  display: flex;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  width: 50px;
  margin: 0 auto;
  z-index: 9;
}

.slide-dot li {
  width: 8px;
  height: 8px;
  background: #E6E6E6;
  border-radius: 50%;
  cursor: pointer;
}

.slide-dot li.now {
  background: #000;
}

/* footer */
.footer-wrap {
  background-color: #000;
}

.footer-wrap .container {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex; /* ie 10 */
  display: flex;
  justify-content: flex-start;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-wrap .left {
  padding: 40px 30% 120px 0;
  opacity: 0.9;
}

.footer-wrap .right {
  padding: 40px 0 120px 5%;
  color: #fff;
  font-size: 0.8125rem;
  opacity: 0.8;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 15px;
  }
  .header .icon {
    vertical-align: middle;
  }
  .cnt02-sub {
    position: relative;
    padding: 150px 0;
    height: auto;
  }
  .cnt02-wrap .subtitle-wrap {
    display: flex;
    width: 100%;
  }
  .cnt02-wrap .des-text {
    font-size: 0.875rem;
    margin-top: 40px;
  }
  .cnt02-wrap .image-wrap {
    position: unset;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    width: 100%;
  }
  .cnt02-wrap .image-wrap .item {
    position: relative;
    height: 100%;
    width: calc(33.3333333333% - 20px);
    margin: 0 10px;
  }
  .cnt02-wrap .image-wrap .item img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cnt02-wrap .cnt02-01 .item:nth-child(1) {
    top: 0;
    right: 0;
  }
  .cnt02-wrap .cnt02-01 .item:nth-child(2) {
    top: 0;
    right: 0;
  }
  .cnt02-wrap .cnt02-01 .item:nth-child(3) {
    top: 0;
    right: 0;
  }
  .cnt02-wrap .cnt02-02 .item:nth-child(1) {
    top: 0;
    right: 0;
  }
  .cnt02-wrap .cnt02-02 .item:nth-child(2) {
    top: 0;
    right: 0;
  }
  .cnt02-wrap .cnt02-03 .item:nth-child(1) {
    top: 0;
    right: 0;
  }
  .cnt02-wrap .cnt02-03 .item:nth-child(2) {
    top: 0;
    right: 0;
  }
  .guide-wrap {
    padding: 150px 0;
    height: auto;
  }
  .guide-wrap .container {
    flex-direction: column;
  }
  .guide-wrap .left {
    width: 100%;
  }
  .guide-wrap .container > .right {
    width: 100%;
    margin-top: 60px;
  }
  .guide-wrap .right .slide-wrap {
    margin: 0 auto;
  }
  .guide-wrap form div:not(:last-child) {
    display: flex;
  }
  .guide-wrap input:not(.form-agree input) {
    width: 100%;
  }
  .guide-wrap .consult-box a {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .header .icon {
    margin-left: 0.3125rem;
  }
  .header .menu-btn {
    right: 50px;
  }
  .header .menu {
    width: 100%;
  }
  .header .menu button {
    right: 50px;
  }
  .header .menu .case {
    font-size: 1rem;
  }
  .header .menu ul {
    font-size: 1.375rem;
    margin: 6.5rem 0 0;
    padding: 0 0 0 10%;
  }
  .header .guide-btn {
    display: none;
  }
  .video-wrap .texts {
    width: 90%;
  }
  .subtitle-wrap .block {
    font-size: 3.75rem;
  }
  .tag {
    font-size: 0.75rem;
    padding: 0.2875rem;
  }
  .cnt02-wrap .subtitle-wrap {
    display: block;
  }
  .cnt02-wrap .image-wrap {
    display: none;
  }
  .guide-wrap .block {
    font-size: 2.5rem;
    line-height: 100%;
  }
  .guide-wrap .container > .right {
    display: none;
  }
  .guide-wrap .consult-box .left {
    padding: 0;
  }
  .guide-wrap .consult-box .left::after {
    display: none;
  }
  .footer-wrap .left {
    padding: 40px 10% 80px 0;
  }
}
/*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */